


.navbar{
  position: relative;
  font-family: Palatino;
  overflow:auto;
  
}
.navbar.navbar-expand-lg {
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0,0,0,0);

  /* background-color:rgba(0, 2, 32, 1); */
  background-color: #CFD7C7;
  margin-bottom:-50px;
}

.navbar-dark .navbar-nav .nav-link {
  color:black;
}

.sticky-top {
	position:sticky;
	top:0;
	width:100%;
}
.navbar-brand {
  font-family: 'Philosopher', sans-serif;
  font-weight: 200;
}
#stardust-logo{
  width:50px;
  height:50px;
}
