
<<<<<<< HEAD


=======
>>>>>>> b9ca1067ddc4e6d650e5fa0bb9301c179f6f18f2
.navbar{
  position: relative;
}
.navbar.navbar-expand-lg {
  z-index: 150;
  margin-bottom: -50px;
  box-shadow: 0 2px 3px rgba(0,0,0,0);
  background:dark;
}
