/* body{
    background-image: url("stardust_bg1.png");
}
header { border-bottom: 1px solid #ffffff; }
header > h1 { 
    display: inline-block;
    font-size: 40px;
}
header span { margin-left: 100px; }
header{
    font: Raleway;
    
    color: #f1f1f1;
    letter-spacing: 0.4rem;
    width: 50%;
} */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    color:wheat;
  }

  .masthead h1{
      font-size: 4em;
  }